.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: blueviolet;
    /* color: white; */
    padding: 10px 0px
}

.menu a {
    /* color: white; */
}

.active {
    color: #fff;
}

.pending {
    color: blueviolet;
}